:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}
*{
    margin: 0;
    padding: 0;
}
body{

    background-color: var(--color-dark1);
    color: var(--color-white);
}
/*Navegação-menu, logo_header header*/

.header img{
    width: 8em;

}
.header,
.Navegação-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 6em;
    justify-content: space-between;
    padding: 0 5%;
}
.Navegação-menu{
    gap: 3em;
    z-index: 2;
}
.Navegação-menu a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
}
.text-content{
    padding-top: 3em;
    transition: 1s;
}
.Quem-somos{
   text-align: center;
   display: flex;
   width: 100%;
   margin:0;
   margin-bottom:6em;
   height: 15em;
   flex-direction: column;
   justify-content:baseline;
   /*float: right;*/

}
.Quem-somos p{
    text-align: justify;
    text-align: center;
    padding: 1em;
    margin: 0;
    
}
.botão-menu{
    background-color:transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
.Sobre-o-Projeto-Objetivo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}
.Sobre-o-Projeto, .Objetivo{
    flex: 1;
    padding: 1em;
    margin: 0;
    gap: 1em;
    text-align: justify;
    text-align: center;
    margin-bottom:6em;
}
.Sobre-o-Projeto h1, .Objetivo h1{
    text-align: center;
    margin-bottom: 1.3em ;
}
.Acoes{
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
    text-align: center;
    padding: 1em;
    margin: 0;
}
.Acoes h1{
    text-align: center;
}
.Lista-de-acoes{
    background-color: var(--color-dark3);
    width: 80%;
    height: 100%;
    border-radius: 15px;
    padding: 1em;
    list-style-type: disc;
    display: inline-block;
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    
}
.Lista-de-acoes li{
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    
}
.videos-ou-fotos h1{
    margin-top:3em;
    text-align: center;
}
.videos-ou-fotos p{
    margin:0;
    padding-left: 2em;
}
@media screen and (max-width: 768px){
    .botão-menu{
        display: block;
    }
    .Navegação-menu{
        position: absolute;
        flex-direction: column;
        top:0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}
@keyframes showSidebar{
    from{margin-left: -100vw;}
    top{margin-left: -10vw;}
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
    background-color: #2d2d2d;
    position: relative;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#github{
    background-color: #414141;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
     background-color: #414141;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}



/*responsividade footer*/
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}